
/*-------------------------Universal Styling-------------------*/

*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: sans-serif;
}

main{
  padding-top: 150px;
  width: 800px;
  margin:0px 0px 0px 500px;
}

section{
  margin: 20px 0px;
}

h3{
  margin: 20px 0px;
}


/*----------------Header/Navigation Bar Styling------------------------------*/

header{
  background: #D10728;
  color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}


header nav li{
  display: inline-block;
  margin-right: 50px;
}


header nav li a{
  text-decoration: none;
  color: white;
}

/*------------------Relative-Absolute Section Styling------------------------*/


.red-imac-image-container{
  position: relative;
  max-width: 475px;
}


.red-imac-caption-container{
  position: absolute;
  top: 0px;
  color: white;
  padding: 20px;
}

/*------------------Span-Float Section Styling-----------------------------*/


.ninety-eight,
.twenty-one{
  width: 50%;
  float: left;
  text-align: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.ninety-eight,
.twenty-one h3, p{
  text-align: left;}
